.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  min-height: var(--card-height);
  background-color: white;
  padding: 20px;
  box-shadow: rgba(41, 41, 42, 0.2) 0 7px 29px 0;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .header {
      display: flex;

      &__like {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 38px;
      }

      &__title {
        color: var(--info-color);
        margin-right: 20px;
        font-weight: 500;
      }
    }

    .tags {
      display: flex;
      gap: 10px;
      p {
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid black;
        padding: 0 4px;
      }
    }

    .article {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .articleFull {
      color: grey;
    }
  }

  .body {
    margin-top: 25px;
    min-height: 0;
    word-break: break-all;

    h1 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
    }
  }

  .avatar {
    display: flex;
    justify-self: end;
    text-align: right;

    h3 {
      font-weight: 600;
    }
    p {
      color: grey;
    }

    .avatarka {
      margin-left: 10px;
      width: 50px;
      height: 50px;

      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
}
