@import './reset';
@import './variables';

body {
  font: var(--font-m);
  font-family: var(--font-family-main);

  color: var(--text-color);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding-bottom: 20px;
  height: 100vh;
}
