.errorBox {
  width: 50%;
  height: 200px;
  background-color: bisque;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
